.form-control {
  margin: 0.5rem 0;
  background-color: #e5e5e5;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  height: 18rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.form-control label {
  font-weight: 800;
  display: block;
  margin-bottom: 0.5rem;
  float: left;
}

.form-control input {
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  font: inherit;
  line-height: 2rem;
  padding: 0 0.25rem;
  border-radius: 0.4rem;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
  color: black;
}

.form-control select {
  display: block;
  width: 40%;
  margin-top: 12px;
  border: 2px solid #ccc;
  font: inherit;
  line-height: 2rem;
  padding: 0 0.25rem;
  border-radius: 0.4rem;
}

.form-control.invalid input {
  border-color: red;
  background: #ffd7d7;
}
.form-control.invalid label {
  color: red;
}

.btn {
  background-color: #8b005d;
  color: #fff;
  margin-top: 10px;
}

.users-control {
  margin: 0.5rem 0;
  background-color: #ffffff;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  height: auto;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.list-control {
  outline: none;
  text-align: left;
  border-color: #8b005d;
  list-style-type: none;
  border: 1px solid #8b005d;
  font: inherit;
  line-height: 2rem;
  padding: 0 0.25rem;
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-left: 0rem;
}
